[submodule "neurodebian"]
	path = neurodebian
	url = https://github.com/neurodebian/neurodebian.git
[submodule "stackbrew"]
	path = stackbrew
	url = https://github.com/docker-library/official-images.git
